# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Assign2/makefile~
Assign2/main
Assign2/.bst.c.swp
Assign2/cscope.files
Assign2/cscope.in.out
Assign2/cscope.out
Assign2/cscope.po.out
.gitignore
Assign3/test_bst.c~
Assign3/main
Assign3/cscope.out
Assign3/cscope.files
Assign3/bst.h~
Assign3/bst.c~
Assign3/makefile~
